<nav class="marketing-bottom__nav">
  <ul class="marketing-bottom__list">
    <li class="marketing-bottom__item">
      <a class="marketing-bottom__link" href="#">ux-consulting</a>
    </li>
    <li class="marketing-bottom__item">
      <a class="marketing-bottom__link" href="#">mobile application</a>
    </li>
    <li class="marketing-bottom__item">
      <a class="marketing-bottom__link" href="#">digital content</a>
    </li>
    <li class="marketing-bottom__item">
      <a class="marketing-bottom__link" href="#">media & analysis</a>
    </li>
  </ul>
  <ul class="marketing-bottom__list">
    <li class="marketing-bottom__item">
      <a class="marketing-bottom__link" href="#">branding</a>
    </li>
    <li class="marketing-bottom__item">
      <a class="marketing-bottom__link" href="#">crm content</a>
    </li>
    <li class="marketing-bottom__item">
      <a class="marketing-bottom__link" href="#">web design</a>
    </li>
    <li class="marketing-bottom__item">
      <a class="marketing-bottom__link" href="#">sem/seo</a>
    </li>
  </ul>
</nav>