<ul class="social__list">
  <li class="social__item">
    <a class="social__net" href="#">
      <svg class="social__svg @svg">
        <use xlink:href="img/sprite.svg#face">
        </use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__net" href="#">
      <svg class="social__svg @svg">
        <use xlink:href="img/sprite.svg#twit">
        </use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__net" href="#">
      <svg class="social__svg @svg">
        <use xlink:href="img/sprite.svg#link">
        </use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a class="social__net" href="#">
      <svg class="social__svg @svg">
        <use xlink:href="img/sprite.svg#inst">
        </use>
      </svg>
    </a>
  </li>
</ul>