<div class="brands-slider swiper-container">
  <ul class="brands-slider__items swiper-wrapper">
    <li class="brands-slider__item swiper-slide">
      <img src="img/icon/logo1.png" alt="" class="brands-slider__img">
    </li>
    <li class="brands-slider__item swiper-slide">
      <img src="img/icon/logo2.png" alt="" class="brands-slider__img">
    </li>
    <li class="brands-slider__item swiper-slide">
      <img src="img/icon/logo3.png" alt="" class="brands-slider__img">
    </li>
    <li class="brands-slider__item swiper-slide">
      <img src="img/icon/logo4.png" alt="" class="brands-slider__img">
    </li>
    <li class="brands-slider__item swiper-slide">
      <img src="img/icon/logo5.png" alt="" class="brands-slider__img">
    </li>
    <li class="brands-slider__item swiper-slide">
      <img src="img/icon/brand22.png" alt="" class="brands-slider__img">
    </li>
  </ul>
</div>