<ul class="brands__items">
  <li class="brands__item">
    <div class="brands__img brands__img--small">
      <img src="img/content/column1.jpg" alt="">
    </div>
    <h3 class="brands__subtitle">
      Online Strategy
    </h3>
    <p class="brands__desc">
      We build and design custom websites that are aesthetically pleasing and functional.
    </p>
  </li>
  <li class="brands__item">
    <div class="brands__img brands__img--big">
      <img src="img/content/column2.jpg" alt="">
    </div>
    <h3 class="brands__subtitle">
      Branding Project
    </h3>
    <p class="brands__desc">
      We build and design custom websites that are aesthetically pleasing and functional.
    </p>
  </li>
  <li class="brands__item">
    <div class="brands__img brands__img--big">
      <img src="img/content/column3.jpg" alt="">
    </div>
    <h3 class="brands__subtitle">
      Digital Marketing
    </h3>
    <p class="brands__desc">
      We build and design custom websites that are aesthetically pleasing and functional.
    </p>
  </li>
  <li class="brands__item">
    <div class="brands__img brands__img--small">
      <img src="img/content/column4.jpg" alt="">
    </div>
    <h3 class="brands__subtitle">
      Web Design
    </h3>
    <p class="brands__desc">
      We build and design custom websites that are aesthetically pleasing and functional.
    </p>
  </li>
  <li class="brands__item">
    <div class="brands__img brands__img--small">
      <img src="img/content/column5.jpg" alt="">
    </div>
    <h3 class="brands__subtitle">
      App Development
    </h3>
    <p class="brands__desc">
      We build and design custom websites that are aesthetically pleasing and functional.
    </p>
  </li>
  <li class="brands__item">
    <div class="brands__img brands__img--big">
      <img src="img/content/column6.jpg" alt="">
    </div>
    <h3 class="brands__subtitle">
      Business Cards
    </h3>
    <p class="brands__desc">
      We build and design custom websites that are aesthetically pleasing and functional.
    </p>
  </li>
</ul>