<footer class="footer">
  <div class="container">
    <button class="scroll-top" type="button">
      <svg class="scroll-top__svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z" />
      </svg>
    </button>

    <div class="footer__content">
      <div class="footer__item footer__item--first">
        <a class="footer-logo" href="index.html">
          <img src="img/icon/@logo.png" alt="logotype">
        </a>
        <div class="footer__text">
          <p>
            A global brand design agency.
            We are pecialists in branding
            and customer experience.
          </p>
        </div>
        @include('list/_social.html', {
        "svg" : ""
        })
      </div>
      <div class="footer__item footer__item--two">
        <h3 class="footer__title">About Company</h3>
        <nav class="footer__nav">
          <ul class="footer__list">
            <li class="footer__li">
              <a class="footer__link" href="#">About</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Services</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Resources</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Portfolio</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__li">
              <a class="footer__link" href="#">Pricing</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Careers</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">News</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Events</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__item footer__item--three">
        <h3 class="footer__title">Get Support</h3>
        <nav class="footer__nav">
          <ul class="footer__list">
            <li class="footer__li">
              <a class="footer__link" href="#">Help Desk</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Software</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Forum</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Sales</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__li">
              <a class="footer__link" href="#">Payments</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Developers</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Resources</a>
            </li>
            <li class="footer__li">
              <a class="footer__link" href="#">Get App</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__item footer__item--last">
        <h3 class="footer__title">Contact Us</h3>
        <address class="footer__adress">
          <span class="footer__contact footer__contact--clock">Mon-Fri: 9.00am 5pm</span>
          <a class="footer__contact footer__contact--map" href="#">
            110 W 34th St, New York
          </a>
          <a class="footer__contact footer__contact--phone" href="tel:(+1)2129462700">(+1) 212-946-2700</a>
          <a class="footer__contact footer__contact--mail"
            href="mailto:go@info@SublimeAgency.com">info@SublimeAgency.com</a>
        </address>
      </div>
    </div>
    <span class="footer__bottom">
      Copyright © 2021 Wiworx-Co. All Right Reserved. Terms of Service. Privacy Policy.
    </span>
  </div>
</footer>