<header class="header">

  </div>
  <div class="header-main">
    <div class="container">
      <div class="header-main__wrapper">
        <a class="logo" href="index.html">
          <img src="img/icon/@logo.png" alt="logotype">
        </a>
        <div class="header-main__wrap">
          <nav class="menu">
            <a class="menu__logo" href="index.html">
              <img src="img/icon/logo-studio.png" alt="logotype">
            </a>
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="index.html">Home</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="about.html">About</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="services.html">Services</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="shop.html">Shop</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="work.html">Work</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="contact.html">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="header-main__items">
            <button class="header-main__item basket-btn" type="button">
              <svg class="header-main__basket" id="Icon" xmlns="http://www.w3.org/2000/svg" width="24" height="23"
                viewBox="0 0 24 23">
                <circle id="Эллипсsvg data-name=" Эллипс 1" cx="1" cy="1" r="1" transform="translate(8 20)" fill="none"
                  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                <circle id="Эллипс_2" data-name="Эллипс 2" cx="1" cy="1" r="1" transform="translate(19 20)" fill="none"
                  stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                <path id="Контур_281" data-name="Контур 281"
                  d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6" fill="none" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" />
              </svg>
              <span class="header-main__num">0</span>
            </button>
            <div class="shop-basket">
              <ul class="shop-basket__items">
              </ul>
            </div>
          </div>
          <a class="@btn" href="#">
            @link
          </a>
          <div class="header__burger-wrap">
            <button class="header__burger" type="button">
              <span class="header__burger--span">
                <span class="sr-only">
                  дополнительное меню
                </span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overal"></div>
  <span class="search-remove"></span>
  <form class="search-form">
    <label class="search-form__label">
      <input class="search-form__input" type="text" placeholder="Search product">
    </label>
    <button class="search-form__btn" type="submit">
      <svg class="search-form__svg">
        <use xlink:href="img/sprite.svg#search">
        </use>
      </svg>
      <span class="sr-only">search</span>
    </button>
  </form>
</header>